In [11]:
print("hello, world!")

hello, world!

## data type

In [12]:
# string is either double quotes or single quotes

test = "hello"

In [13]:
print(test)

hello

In [14]:
type(test)

str

In [15]:
# numeric types 2 forms
# integers and floats

number = 10

floaty = 5.4

In [16]:
number + floaty

15.4

In [17]:
test + number

TypeError: can only concatenate str (not "int") to str

In [ ]:
test + test

'hellohello'

### Operators

In [ ]:
18 + 48

66

In [ ]:
36/6

6.0

In [ ]:
6 * 10

60

In [ ]:
7 ** 7

823543

In [ ]:
15 // 4
# floor division

3

In [ ]:
5 % 2
# modulo in this case 5 is odd

1

In [ ]:
# concoatenation
"foo" + "bar"

'foobar'

In [ ]:
"foo" * 10

'foofoofoofoofoofoofoofoofoofoo'

## python collections

In [19]:
# list
my_list = [1, "2", 3.2]

In [ ]:
print(my_list)

NameError: name 'my_list' is not defined

In [22]:
print(my_list[-1])

3.2

In [21]:
# subset all items but first
print(my_list[1:])

['2', 3.2]

In [23]:
# dictionaries
my_dict = {"one": 1, "two": 2, "three": 3}

In [24]:
print(my_dict[0])

KeyError: 0

In [25]:
# doesnt understand this, needs name of a key
print(my_dict["one"])

1

In [26]:
!ls

LICENSE  README.md  assets  data  hello.ipynb

In [28]:
! unzip data/portal-teachingdb-master.zip

Archive:  data/portal-teachingdb-master.zip
   creating: portal-teachingdb-master/
  inflating: portal-teachingdb-master/surveys2001.csv
  inflating: portal-teachingdb-master/surveys2002.csv
  inflating: portal-teachingdb-master/speciesSubset.csv
  inflating: portal-teachingdb-master/bouldercreek_09_2013.txt
  inflating: portal-teachingdb-master/species.csv
  inflating: portal-teachingdb-master/surveys.csv
  inflating: portal-teachingdb-master/portal_mammals.sqlite
  inflating: portal-teachingdb-master/README.txt
  inflating: portal-teachingdb-master/plots.csv

In [29]:
# aliasing pandas to pd for ease
import pandas as pd

In [31]:
surveys_df = pd.read_csv("portal-teachingdb-master/surveys.csv")

In [32]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN